<div class="container content">    
    <div class="row">
        <div class="col-md-6 offset-md-3"> <span class="anchor" id="formLogin"></span>

            <!--	Formulario con campos de entrada y boton guardar	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <!--
        Podemos ver como hace una iratacion sobre la lista de destino y renderiza el pagina el componente app-destino que
        contiene la informacion individual por destino, vemos como a la variable de entrada destino ("[destino]"") que esta
        en el componente de app-destino y se le pasa el valor actual de la lista de destino, y ademas a la variable de salida
        clicked ("(clicked)") que cuando esta emita un evento se capturara en este punto y entonce se lanzara la funcion "elegido()" 
        que esta en el componente de lista-destinos, y se le pasa el elemento actual de la lista. Tener en cuenta que tambien se declara
        una variable i con el valor interno de index, este index es una variable propia del ngfor que lleva la cuenta de iteraciones

        Se debe tener en cuenta que el ngFor solo itera sobre la variable de entrada destino y no sobre la de clicked.
    -->
    <div class="row row-flex">
        <app-destino-viaje 
            *ngFor="let item of allDestinos; let i=index" 
                [destino]="item"
                [idx]="i+1"
            (clicked)="elegido(item)"            
        ></app-destino-viaje>	
    </div>

    <hr class="mb-5">

    
    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let updateAux of updates">{{updateAux}}</li>
        </ul>	
    </div>

</div>