<div class="container content">

  <!--
    Aqui hago la barra menu y utilizo la propiedad de routerLink que me permite hacer el ruteo segun el rutiador vingulado 
    al componente
   -->
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="[ '/home']">Home</a>
        <a [routerLink]="[ '/destino']">Destino</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div> 

  <!--
    Esto etiqueta me permite mostrar el componente seleccionado segun el rutiado vinculado al componente, es decir, como este html
    tiene un rutiador vinculado en el .ts, en esta etiqueta se va a renderizar o mostrar el componente correspondiente al router.
    esto permite mostar en una misma seccion varios componente sin recargar la pagina. es decir una SAP (single aplicattion page)
  -->
  <router-outlet></router-outlet>
  
</div>

<hr class="mb-d">

<!--
  Lo que hacemos aqui es poner un texto fecha y le asignamos el valor de variable time pero con el pipe (|) le indicamos que
  va a ser asincronico, esto lo hacemos ya que time va a ser un observable de forma asincronica para que exponga la fecha sin
  importar lo que pase en la aplicacion
-->
Fecha = {{time | async}}