<!--    Tarjeta que carga una imagen    -->

<!--    Todo este codigo iba dentro de un div que indicaba la cantidad de columnas que iba 
        a ocupar (4 columnas de las 12 disponibles) pero cuando se utiliza este componente en 
        otro componente, angular le asigna un componente global el cual rompe la configuraciones
        internar del componente, entonces tenemos que indicarle a ese componente globar que crea angular
        cuales son las configuraciones globales de este componente para que las aplique, y para esto
        utilizamos la etiqueta o decorador de @HostBinding en el componenente al cual le queremos asignar
        las propiedades globales, en este caso seria en el componente de destino-viaje.componente.ts-->
<div class="card-content">
    <div class="card-img"> <img src="https://placeimg.com/380/230/nature" alt=""> <span>
            <h4>{{position}}</h4>     <!--Utilizo el valor que tiene el objeto destino en el componente ts-->
        </span> </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let servicioAux of destino.servicios">
                <span [ngSwitch]="servicioAux">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{servicioAux}}</i>                
                    <i *ngSwitchDefault>{{servicioAux}}</i>
                </span>
            </li>
        </ul> 

        <!--
            Agregamos los iconos de voto arriba y abajo
        -->
        <div>
            <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
            {{destino.votes}}
        </div>

        <a href="#" class="btn-card" (click)="ir()">Ir!!</a>

        <!--Aqui utilizamos la propiedad de ngif para codicionar la visualizacion del la palabra preferido, es decir
        cuando destino.isSelected() es true entonces mostrara de lo contrario no mostrara-->
        <span *ngIf="destino.selected">
            <!--La etiqueta ngNonBindable espedifica que lo que esta dentro de las etiqueta no va a ser renderiado por angular
            es decir no se aplica nada de angular en ese fracmento de codigo-->
            <span ngNonBindable>--PREFERIDO--</span>
        </span>
        <a [routerLink]="[ '/destino']">Ver Detalle</a>
    </div>
</div>
