<!-- 
    Notar que aqui se utiliza algo nuevo que son formularios interactivos, es decir a todo el formulario se agrupa
    en una variable y esta puede ser tratada como se desee en el typeScript. en este caso se llama "fg". Notar que los
    controles (controls) es un arreglo o un hash de componentes que pueden ser guardados con identificadores para poder acceder a
    ellos desde cualquier parte dentro del formulario.

    Ademas tambien utilizamos la obcion de angular que es (ngSubmit) que nos permite llamar una funcion del typeScript, es decir
    simular el mismo comportamiento cuando se hace un boton de tipo submit solo que esta vez es nivel de formulario.
 -->
<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group"> 
        <label for="nombre">Nombre</label> 
        <!-- Aqui vemos como añadimos este control de tipo texto al hash de contros con el identificador de nombre-->
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']"> 
        <!--
            Lo que hacemos aqui es renderian un pequeña lista de resultados, simulando un motor de busqueda o de autoCompletado
            segun lo ingresado en la caja de texto.
        -->
        <ul>
            <li *ngFor="let resultadoAux of busquedaResultados">{{resultadoAux}}</li>
        </ul>

        <!-- 
            Aqui vemos maneras diferente de utilizar las validaciones colocadas a nuestros contoles:
            La primera es preguntado a nivel de control general y la segunda es preguntando por una validacion
            en especial, en este caso la de requerido, las otras son validaciones hechas        
        -->
        <div *ngIf="!fg.controls['nombre'].valid">nombre invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido, debe tener una mayuscula</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos {{minLongitud}} de largo</div>
    </div>
    <div class="form-group"> 
        <label for="Imagen	Url">Imagen Url</label>
        <!-- Aqui vemos como añadimos este control de tipo texto al hash de contros con el identificador de url-->
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']"> 
    </div>
    
    <!-- 
        Aqui devemos tener en cuenta que este el boton es de tipo submit y cuando sea precionado ira al envento de angular
        estipulado al principio a nivel de formulario, pero en caso tal de que ese evneto no estuviera a nivel de formulario
        puede ser deblarado aqui con (click)
    --> 
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
